@page "/fetchdata"
@attribute [Authorize]

<PageTitle>Open AI</PageTitle>

<h1>Open AI Connect</h1>

<h3>OpenAI input query: </h3> 
<input class="col-sm-4" @bind="newQuery" />
<button class="btn btn-primary" @onclick="SemanticKernelClient">Send Request</button>

<br />
<br />

<h4>Server response:</h4> <p>@serverResponse</p>

@code{

    @using Azure.Identity;
    @using Microsoft.SemanticKernel;

    private string? newQuery;
    private string? serverResponse;

	private async Task SemanticKernelClient()
	{

        //https://learn.microsoft.com/ja-jp/azure/app-service/deploy-intelligent-apps?pivots=openai-dotnet
        var ModelName = Environment.GetEnvironmentVariable("MODEL_NAME")!;
        var Endpoint = Environment.GetEnvironmentVariable("OPEN_AI_ENDPOINT")!;
        var builder = Kernel.CreateBuilder();

        builder.AddAzureOpenAIChatCompletion(
            ModelName,
            Endpoint,
            new DefaultAzureCredential());

        var kernel = builder.Build();
        if(!(newQuery is null)){
            var result = await kernel.InvokePromptAsync(newQuery);
            serverResponse = result.GetValue<string>();
        }else{
            serverResponse = "入力がありません";
        }
    }
}